{% extends './layout/base.html' %}

{% block encabezado %}Fotografias{% endblock encabezado %}
{% block title %}Fotografias{% endblock title %}
{% block imagenes %}
<div>
    <img src="https://static.wixstatic.com/media/c74e1c_fcfe93c909ae40c9b781760bd6cf615d~mv2.jpg/v1/fill/w_960,h_720,al_c,q_85,enc_auto/c74e1c_fcfe93c909ae40c9b781760bd6cf615d~mv2.jpg" alt="chivo" height="260" width="260" />
    <img src="https://static.wixstatic.com/media/c74e1c_78dad0f612154663b7dea30c65b1f156~mv2.jpg/v1/fill/w_458,h_258,al_c,lg_1,q_80,enc_auto/c74e1c_78dad0f612154663b7dea30c65b1f156~mv2.jpg" alt="chivo1" height="260" width="260" />
    <img src="https://static.wixstatic.com/media/c74e1c_03bc76b9e69d44b68e0a57c1b4d55def~mv2.jpg/v1/fill/w_458,h_258,al_c,lg_1,q_80,enc_auto/c74e1c_03bc76b9e69d44b68e0a57c1b4d55def~mv2.jpg" alt="chivo2" height="260" width="260" />
</div>
{% endblock imagenes %}